@import './base.css';

* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  /* background-color: rgba(156, 121, 183, 0.2); */
  color: black;
  position: relative;
  margin-bottom: 0
}

nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(156, 121, 183, 0); */
  padding: 1.5vmin 1.5vmin ;
  border-bottom: 1px solid rgba(88, 102, 31, 0.6);
}

header {
  background-color: rgba(226, 205, 242, 0.5);
  background-color: rgba(88, 102, 31, 0.6);
  border-bottom: 1px solid white;
  text-align: center;
}

nav ul {
  display: flex;
  margin-bottom: 0 !important;
}

nav ul li {
  padding: 0.5vmin 1vmin 0;
}

nav p {
  margin: 0 !important;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: purple;
}

h1 {
  font-size: 7vmin;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

 h3,.paddedLeft{
  padding-left: 2vmin;
}

#headerH3, header h3 {
  padding:0 0 2vmin;
}




